[submodule "lib/stm32cubef4"]
	path = lib/stm32cubef4
	url = https://github.com/Plytirex/stm32cubef4.git
[submodule "lib/FreeRTOS"]
	path = lib/FreeRTOS
	url = https://github.com/Plytirex/FreeRTOS.git
[submodule "lib/STM32F4-HD44780"]
	path = lib/STM32F4-HD44780
	url = https://github.com/EarToEarOak/STM32F4-HD44780.git
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/miloyip/rapidjson.git
